@page
@model IndexModel
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@{
    /*ViewData["Title"] = "Welcome to .NET";
    string hostName = System.Net.Dns.GetHostName();
    var ipList = await System.Net.Dns.GetHostAddressesAsync(hostName);
    EnvironmentInfo env = new();
    const double Mebi = 1024 * 1024;
    const double Gibi = Mebi * 1024;*/
}

<div class="text-center">
    <h1>123456789</h1>
</div>
<!--
<div align="center">
    <table class="table table-striped table-hover">
        <tr>
            <td style="vertical-align: top">Server IP address</td>
            <td>
                @{
                    foreach (var ip in ipList)
                    {
                        @ip
                        <br />
                    }
                }
            </td>
        </tr>
    </table>
</div>-->

@{
    string GetInBestUnit(long size)
    {
        if (size < Mebi)
        {
            return $"{size} bytes";
        }
        else if (size < Gibi)
        {
            double mebibytes = size / Mebi;
            return $"{mebibytes:N2} MiB";
        }
        else
        {
            double gibibytes = size / Gibi;
            return $"{gibibytes:N2} GiB";
        }
    }
}
